@{
  ViewData["Title"] = "Correct Questons";

  var grade = 0;

  if (this.Model.q1 == "a") grade++;

  if (this.Model.q2 == "b") grade++;

  if (this.Model.q3 == "d") grade++;
}

<form class="d-flex flex-column border border-2 border-secondary rounded-1 mx-auto p-2 w-50">
  <h1 class="mx-auto">@ViewData["Title"]</h1>
  <h1 class="text-center bg-success rounded-1 p-1">@(grade + "/10")</h1>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">1&#41 O que é o HTTP ?</span></legend>
    <label class="d-flex m-1 @(this.Model.q1 != null ? "bg-success rounded-1 p-1" : null)">
      <input type="radio" name="q1" value="a" class="h-100 mt-2" @(this.Model.q1 != null ? "checked" : null) required>
      <span class=" ms-1">a&#41 É um protocolo de comunicação</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q1" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 É um renderizador de páginas web</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q1" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 É um depurador de códigos</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q1" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 É uma forma de ajudar os programadores a programarem para a web, diminuindo a quantidade de dados processados pela memoria da rede de computadores em nuvem</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q1" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 É uma linguagem de programação para lidar com dados</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">2&#41 O que faz o HTTP ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q2" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 Transforma páginas html em páginas css</span>
    </label>
    <label class="d-flex m-1 @(this.Model.q1 != null ? "bg-success rounded-1 p-1" : null)">
      <input type="radio" name="q2" value="b" class="h-100 mt-2" @(this.Model.q1 != null ? "checked" : null) required>
      <span class="ms-1">b&#41 Envia dados através de métodos entre o cliente e o servidor</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q2" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 Gera links para sites relacionados ao site criado pelo usuário através de APIs web próprias para esse tipo de função</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q2" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 Ajuda o usuário a se localizar na página</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q2" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 Termina a função do servidor, exibindo a página para o cliente</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">3&#41 O que é request ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q3" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 A requisição da atualização de uma tecnologia de uma página ao suporte</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q3" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 Uma forma de mostrar o funcionamento de um site</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q3" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 O resultado de uma busca na internet</span>
    </label>
    <label class="d-flex m-1 @(this.Model.q1 != null ? "bg-success rounded-1 p-1" : null)">
      <input type="radio" name="q3" value="d" class="h-100 mt-2" @(this.Model.q1 != null ? "checked" : null) required>
      <span class="ms-1">d&#41 É a requisição de algo para o servidor</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q3" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 Um protocolo de internet</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">4&#41 </span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 </span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">5&#41 </span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 </span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">6&#41 </span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 </span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">7&#41 </span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 </span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">8&#41 </span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 </span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">9&#41 </span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 </span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">10&#41 </span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 </span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 </span>
    </label>
  </fieldset>
  <button type="submit" class=" border border-2 rounded-1 mx-auto my-2 p-1 w-25 btn btn-outline-light">Enviar</button>
</form>
